@reference "tailwindcss/theme";
.markdown h1 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.markdown h2 {
  padding-top: 1rem;
}

/* Fix so that there isn't a ton of padding for an h2 after an h1 */
.markdown h1 + h2 {
  padding-top: 0;
}

.markdown p + p {
  padding-top: 1.5rem;
}

.markdown p a {
  color: theme(--color-emerald-500); /* emerald-500 */
  text-decoration: underline;
  text-decoration-color: color-mix(in oklab, theme(--color-emerald-500) /* oklch(0.696 0.17 162.48) */ 50%, transparent);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.25rem;
  transition: all;
}

.markdown p a:hover {
  filter: brightness(1.25);
}

.markdown p a strong {
  color: theme(--color-emerald-500); /* emerald-500 */
}

.markdown strong {
  color: white;
}

.markdown img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
}

.markdown em {
  font-family: theme(--font-serif);
  font-style: italic;
}

.markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.markdown ol li::marker {
  font-weight: bold;
}

.markdown blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-left-width: 2px;
  border-left-color: theme(--color-emerald-900); /* emerald-500 */
  color: theme(--color-stone-400);
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.markdown blockquote p + p {
  padding-top: 0.15rem;
}

.markdown p code {
  background-color: #262626;
  font-size: 16px;
  border-radius: .35em;
  padding-left: .25em;
  padding-right: .25em;
}

.markdown .split {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px /* --breakpoint-md */) {
  .markdown .split {
    flex-direction: column;
  }
  .markdown pre {
    overflow: scroll;
  }
  .markdown .split pre {
    max-width: 100%;
  }
}

.markdown .split pre {
  width: fit-content !important;
}


.markdown pre {
  background-color: #262626 !important;
  font-size: 14px;
  border-radius: .5rem;
  padding: .75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}