@import"https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";
@font-face {
  font-family: Inter;
  src: url("fonts/inter.woff2") format("woff2");
}

:root {
  --orange: #E78A4E;
  --green: #A9B665;
  --pink: #e86a92;
  --celadon: #b3dec1;
  --dark-pink: #de5490;
  --highlight: #615856;
  --text-color: #f7f9f7;
  --background: #292729;
  --background-lighter: #3a3639;
  --background-lightest: #4A454A;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  line-height: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: /*-apple-system, BlinkMacSystemFont,*/ Inter, sans-serif;
  color: var(--text-color);
  background-color: var(--background);
  font-size: 1rem;
}

::selection {
  background: var(--highlight);
}

.nav {
  width: 65%;
  align-self: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  font-family: Jetbrains Mono, monospace;
  margin-top: .75rem;
  justify-content: end;
  margin-bottom: calc(100vh - (2.75rem + 2px));
}


.nav-bar > *:not(:first-child) {
  margin-left: 2rem;
}

.nav-tag {
  padding: .5rem;
  border-radius: .3rem;
  color: var(--text-color);
  background-color: var(--background-lighter);
  border: 1px solid var(--background);
}

.nav-tag:hover {
  background-color: #3a3639aa;
  border: 1px solid var(--background-lightest);
  opacity: 1;
  text-decoration: none;
}

#main {
  background-color: var(--background-lighter);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#horizontal-content {
  width: 100%;
  height: 100vh;
}

#vertical-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 65%;
  padding: 1rem;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.title h1 {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  padding: 1rem 0rem 2rem 0rem;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) } 
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}

.title h1 strong::before {
  transition: 0.2s;
  opacity: 0;
  content: attr(emoji);
  position: absolute;
  margin-left: -.5rem;
  left: 100%;
  color: #fff;
  font-size: 3rem;
}

.title h1 strong:hover:before {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite;  
  opacity: 1;
  margin-left: 1.25rem;
}

.title h1 strong {
  cursor: default;
}
.title h1 > * {
  position: relative;
}

.title p {
  font-size: 2rem;
  color: #797279;
}
.attribute {
  transition: 0.2s;
}

.attribute:hover {
  color: #A6A0A6;
  cursor: default;
}

#profile-pic {
  width: 30%;
  border-radius: 50%;
}


h1 {
  font-size: 2.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

h2 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

li {
  margin-bottom: 4px;
}

li:nth-child(1) {
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: var(--pink);
  display: inline-block;
  transition: 0.15s;
}

p {
  font-size: 1.15rem;
  line-height: 1.5rem;
  padding: 0rem 0rem 1rem 0rem;
}

ul {
  font-size: 1.15rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

a:hover {
  opacity: 60%;
  text-decoration: 1px underline;
}

.block-data {
  display: flex;
  flex-direction: column;
}


.repo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}


.repo {
  position: relative;
  border-radius: 0.3rem;
  padding: .5rem 1rem .5rem 1rem;
  margin-bottom: 1rem;
  background: var(--background-lightest);
  border: 1px solid var(--background-lighter);
  transition: 0.2s;
  transition-timing-function: ease-out; 
}

.repo h2 {
  display: flex;
  align-items: center;
  width: 100%;
}

.repo h2 > *:not(:first-child) {
  margin-left: .5rem;
}

.repo:hover {
  cursor: pointer;
  border: 1px solid var(--pink);
}

.repo p {
  padding-top: .5rem;
  font-size: .9em;
  line-height: .5rem;
}

#stars {
  color: var(--text-color);
  margin-left: auto;
  float: right;
  font-size: .9rem;
  font-weight: normal;

}

#language {
  font-weight: normal;
  color: var(--text-color);
  border-radius: 0.25rem;
  display: inline-block;
  justify-content: center;
  font-size: .85rem;
  padding-left: .25rem;
  padding-right: .25rem;
}


#footer {
  background-color: var(--background-lightest);
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

#footer p {
  font-size: 1rem;
}

#footer .icons > a {
  color: var(--text-color);
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

#footer .icons > a:hover {
  opacity: 1;
}

#footer .icons a::before {
  transition: 0.2s;
  opacity: 0;
  content: attr(title);
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: .75rem;
  white-space: nowrap;
}

#footer .icons a:hover:before {
  opacity: 1;
  top: -1.85rem;
}

#footer > *:not(:first-child) {
  padding-top: 1rem;
  justify-content: end;
  padding-bottom: 0;
}

.link-separator {
  font-size: 1.8rem;
}

@media (max-width: 1550px) {
  .profile {
    flex-direction: column;
    width: 100%;
  }

  #profile-pic {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1080px) {
  .nav {
    width: 100%;
    padding-right: 1rem;
  }
  .container {
    width: 100%;
  }

  .title h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .title p {
    font-size: 1rem;
  }
  #profile-pic {
    width: 65%;
  }

}
