<!DOCTYPE html>
<html lang="en">

<head>
  <title>cameron &middot; software engineer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheet %}
  <link rel="stylesheet" href="/styles.css">
  {% endblock stylesheet %}
  <meta name="description" content="Hi, I'm Cameron. I am a junior at Liberty University studying Software Engineering.">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
</head>

<body>
  <div id="horizontal-content">
    <div id="vertical-content">

      <section class="section" id="main">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </section>

      <div id="footer">
        {% block footer %}
        <a href="https://github.com/wzid">Github</a>
        <span class="link-separator">&middot;</span>
        <a href="https://www.linkedin.com/in/cameron-k-a00565257/">Linkedin</a>
        <span class="link-separator">&middot;</span>
        <a href="mailto:cameronkauffman@outlook.com">Email</a> 
        {% endblock footer %}
      </div>

    </div>

  </div>
</body>

</html>
