{% extends "base.html" %}

{% block nav_bar %}
<div class="nav-bar">
  <a class="heading-link" href="https://cameron.rs">
    <strong>cameron.rs</strong>
  </a>
  <div class="links">
    <a class="nav-tag" href="https://blog.cameron.rs">
      Blog
    </a>
    <a class="nav-tag" href="https://docs.cameron.rs">
      Documentation
    </a>
  </div>
</div>
{% endblock %}

{% block heading %}
<div class="profile">
    <div class="title">
        <h1 > {{ section.title | safe }} </h1>
        <p> {{ section.description | safe}}</p>
    </div>
    <img id="profile-pic" src="/images/pic.jpg">
</div>
{% endblock heading %}

{% block content %}
{{ section.content | safe }}
{% endblock heading %}