@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    scrollbar-color: #545454 #262626;
  }
  body {
    @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-[#D4D4D4];
    @apply sm:pb-12;
  }

  bi {
    @apply font-livory italic font-bold text-[105%] leading-[100%] text-white;
  }
  
  b {
    @apply text-white;
  }

  i {
    @apply font-livory text-[105%] leading-[100%];
  }
  .mono {
    @apply font-mono text-[85%] leading-[100%];
  }
  
}

.layout-md {
  @apply max-w-screen-md mx-auto px-4 sm:px-2
}

html {
  @apply motion-safe:scroll-smooth;
}

.link {
  @apply text-white underline underline-offset-[3px] decoration-neutral-400 dark:decoration-neutral-500;
  @apply hover:text-black hover:decoration-black transition-colors;
  @apply dark:hover:text-white dark:hover:decoration-white;
}

.link-hidden {
  @apply text-white hover:underline underline-offset-[3px] decoration-neutral-400 dark:decoration-neutral-500;
  @apply hover:text-black hover:decoration-black transition-colors;
  @apply dark:hover:text-white dark:hover:decoration-white;
}

::selection {
  @apply bg-neutral-200 dark:bg-neutral-600;
}

h1 {
  @apply text-3xl font-bold my-2 text-white;
}

h2 {
  @apply text-2xl font-semibold my-1 text-white;
}


.dark-accent {
  @apply border-[#27272A]
}