@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300;400;600;700;800&family=Source+Serif+4:ital,opsz,wght@1,8..60,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    scrollbar-color: #545454 #262626;
  }
  body {
    @apply bg-white text-neutral-800 dark:bg-neutral-900 dark:text-[#D4D4D4];
    @apply sm:pb-12;
  }
  
  .text-accent {
    @apply text-emerald-500
  }

  .text-accent-opaque {
    @apply text-[#03BA7C]/80
  }

  
  b {
    @apply text-black dark:text-white;
  }

  .mono {
    @apply font-mono text-[85%] leading-[100%];
  }
  
}

.layout-md {
  @apply max-w-screen-md mx-auto px-4 md:px-2
}

html {
  @apply motion-safe:scroll-smooth;
}

.link {
  @apply text-emerald-500 underline underline-offset-2 decoration-[1.5px] decoration-emerald-500/50;
  @apply hover:dark:brightness-125 hover:brightness-75 transition-all;
  
}

.link-hidden {
  @apply text-black dark:text-white hover:underline underline-offset-2 decoration-[1.5px] decoration-emerald-500/50;
  @apply hover:dark:brightness-125 hover:brightness-75 transition-all;
}

::selection {
  @apply bg-neutral-200 dark:bg-neutral-600;
}

h1 {
  @apply text-3xl font-bold my-2 text-black dark:text-white;
}

h2 {
  @apply text-2xl font-semibold my-1 text-black dark:text-white;
}


.dark-accent {
  @apply border-[#27272A]
}